@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  margin: 1rem auto;
}
@media only screen and (max-width: 900px) {
  .container {
    width: 90%;
  }
}

.container-2 {
  width: 80%;
  margin: 0 auto;
}
@media only screen and (max-width: 900px) {
  .container-2 {
    width: 90%;
  }
}

@keyframes colors {
  0% {
    color: rgb(27, 240, 169);
  }
  50% {
    color: rgb(245, 180, 31);
  }
  100% {
    color: rgb(14, 137, 96);
  }
}
@keyframes box {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes border {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header1 {
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 0.2rem 0;
  z-index: 100;
  box-shadow: 1px 1px 3px black;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 900px) {
  .header {
    margin-top: 1rem;
  }
}
.header--logo > a {
  font-size: 1.5rem;
  font-weight: bolder;
  animation: colors 10s infinite;
}
.header--logo > a:hover {
  color: rgb(126, 250, 209);
  transition: 1000ms;
}
@media only screen and (max-width: 900px) {
  .header .burger-icon {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 900px) {
  .header .burger-icon {
    display: none;
  }
}
.header .burger-icon .hidden {
  display: none;
}
.header--menu {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 900px) {
  .header--menu {
    display: none;
    position: absolute;
    background-color: rgb(27, 240, 169);
    left: 0;
    top: 90%;
    width: 100vw;
    height: 100vh;
    text-align: center;
  }
}
.header--menu .active {
  color: rgb(14, 137, 96);
}
.header--menu--list {
  margin-left: 1.5rem;
  padding: 0.5rem;
  color: rgb(27, 240, 169);
  border: none;
  outline: none;
}
@media only screen and (max-width: 900px) {
  .header--menu--list {
    color: white;
    font-size: 1.2rem;
    margin-left: 0;
  }
}
.header--menu--list:hover {
  background-color: rgb(126, 250, 209);
  color: #fff;
  transition: 1000ms;
}
@media only screen and (max-width: 900px) {
  .header--menu .contactbtn {
    font-weight: 400 !important;
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 900px) {
  .header .show {
    display: block;
  }
}
@media only screen and (max-width: 900px) {
  .header .show li {
    padding: 1rem 0;
    text-align: center;
    margin: 0 auto;
  }
}

@keyframes colors {
  0% {
    color: rgb(27, 240, 169);
  }
  50% {
    color: rgb(245, 180, 31);
  }
  100% {
    color: rgb(14, 137, 96);
  }
}
@keyframes box {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes border {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10rem;
  align-items: center;
}
@media only screen and (max-width: 900px) {
  .banner {
    flex-direction: column;
    margin: 2rem auto;
  }
}
.banner--right {
  width: 50%;
}
@media only screen and (max-width: 900px) {
  .banner--right {
    width: 100%;
  }
}
.banner--left {
  width: 40%;
}
@media only screen and (max-width: 900px) {
  .banner--left {
    width: 100%;
    text-align: center;
    margin: 1rem auto;
  }
}
.banner--left--title {
  color: rgb(27, 240, 169);
  font-size: 2rem;
  font-weight: bolder;
}
@media only screen and (max-width: 900px) {
  .banner--left--title {
    font-size: 1.5rem;
  }
}
.banner--left--para {
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
  color: rgba(0, 0, 0, 0.5);
  line-height: 2;
}
@media only screen and (max-width: 900px) {
  .banner--left--para {
    font-size: 0.9rem;
  }
}
.banner--left .watch-free {
  padding-right: 3px;
}
.banner--left .btn-space {
  margin-left: 8px;
}

.aboutus {
  background-color: rgb(27, 240, 169);
  margin-top: 1.5rem;
}
.aboutus--flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.aboutus--flex--left {
  width: 40%;
}
@media only screen and (max-width: 900px) {
  .aboutus--flex--left {
    width: 100%;
  }
}
.aboutus--flex--right {
  width: 50%;
}
@media only screen and (max-width: 900px) {
  .aboutus--flex--right {
    width: 100%;
    text-align: center;
    margin: 2rem auto;
  }
}
.aboutus--flex--right--title {
  color: #fff;
  font-size: 2rem;
}
@media only screen and (max-width: 900px) {
  .aboutus--flex--right--title {
    font-size: 1.5rem;
  }
}
.aboutus--flex--right--para {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  line-height: 2;
}
@media only screen and (max-width: 900px) {
  .aboutus--flex--right--para {
    font-size: 0.9rem;
  }
}

/***** roadmap *****/
.roadmap {
  margin: 2rem auto;
  text-align: center;
}
.roadmap--title {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
.roadmap--para {
  color: rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 900px) {
  .roadmap--para {
    font-size: 0.9rem;
  }
}
.roadmap--line {
  width: 80px;
  height: 10px;
  border-radius: 10px;
  margin: 1rem auto;
  background-image: linear-gradient(to right, rgb(27, 240, 169), rgb(126, 250, 209), rgb(245, 180, 31), rgb(247, 206, 110));
}

.roadmap--flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 5rem auto;
}
@media only screen and (max-width: 900px) {
  .roadmap--flex {
    flex-direction: column;
    margin: 1rem auto;
  }
}
.roadmap--flex--items {
  width: 30%;
  position: relative;
}
@media only screen and (max-width: 900px) {
  .roadmap--flex--items {
    width: 100%;
  }
}
.roadmap--flex--items--image {
  position: relative;
  filter: grayscale(100%);
  margin-bottom: 2rem;
}
@media only screen and (max-width: 900px) {
  .roadmap--flex--items--image {
    margin-bottom: 0.5rem;
  }
}
.roadmap--flex--items--image::before {
  position: absolute;
  content: "";
  padding: 1rem;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 3px dashed rgb(27, 240, 169);
  top: -30%;
  left: 30%;
  transition: 5s;
}
@media only screen and (max-width: 900px) {
  .roadmap--flex--items--image::before {
    display: none;
  }
}
.roadmap--flex--items--image:hover {
  filter: grayscale(0%);
  transition: 3s;
}
.roadmap--flex--items--image:hover::before {
  animation: border 10s infinite;
}
.roadmap--flex--items--title {
  margin: 1rem auto;
  font-size: 1rem;
  color: rgb(27, 240, 169);
}
@media only screen and (max-width: 900px) {
  .roadmap--flex--items--title {
    margin: 0.5rem auto;
  }
}
.roadmap--flex--items--para {
  color: rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 900px) {
  .roadmap--flex--items--para {
    margin-bottom: 2rem;
  }
}

/***** End roadmap *****/
/***** card *****/
.card--background {
  background-color: rgb(27, 240, 169);
  padding: 2rem 0;
}
@media only screen and (max-width: 900px) {
  .card--background {
    padding: 1rem 0;
  }
}

.course {
  margin: 0 auto;
  text-align: center;
}
.course--title {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
@media only screen and (max-width: 900px) {
  .course--title {
    padding: 0.5rem 0;
  }
}
.course--para {
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 3rem;
}
@media only screen and (max-width: 900px) {
  .course--para {
    font-size: 0.9rem;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media only screen and (max-width: 900px) {
  .cards {
    flex-direction: column;
  }
}
.cards--card {
  width: 25%;
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
  transition: 2s;
}
@media only screen and (max-width: 900px) {
  .cards--card {
    width: 100%;
    margin: 1rem auto;
  }
}
.cards--card:hover {
  box-shadow: 5px 5px 20px #000;
}

.card--content {
  padding: 1rem 0.8rem;
}
.card--content--title {
  font-size: 1.2rem;
  color: rgb(245, 180, 31);
}
.card--content--para {
  color: rgba(0, 0, 0, 0.5);
  line-height: 2;
}

/***** End card *****/
/***** contact *****/
.contact-background {
  background-color: #BFBFBF;
  padding: 2rem 0;
}

.contact-card {
  background-color: #fff;
  box-shadow: 2px 2px 5px #000;
  padding: 1rem;
}
.contact-card .contact--flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 900px) {
  .contact-card .contact--flex {
    flex-direction: column;
    text-align: center;
  }
}
.contact-card .contact--flex--left {
  width: 55%;
  padding: 1rem;
}
@media only screen and (max-width: 900px) {
  .contact-card .contact--flex--left {
    width: 100%;
  }
}
.contact-card .contact--flex--left--title {
  font-size: 1.2rem;
}
.contact-card .contact--flex--left--para {
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 0.5rem;
}
.contact-card .contact--flex--left--input {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem auto;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #BFBFBF;
  color: rgba(0, 0, 0, 0.5);
}
.contact-card .contact--flex--left--input:hover, .contact-card .contact--flex--left--input:focus {
  border: 2px solid rgb(27, 240, 169);
}
.contact-card .contact--flex--left .textarea {
  resize: none;
}
@media only screen and (max-width: 900px) {
  .contact-card .contact--flex--left .textarea {
    margin-bottom: 1rem;
  }
}
.contact-card .contact--flex--right {
  width: 40%;
}
@media only screen and (max-width: 900px) {
  .contact-card .contact--flex--right {
    width: 100%;
  }
}

/***** End contact *****/
/***** footer *****/
.footer-background {
  background-color: rgb(27, 240, 169);
}

.footer--content {
  padding: 2rem 0;
  text-align: center;
}
.footer--content--title {
  font-size: 1.2rem;
  color: #fff;
  padding-bottom: 0.5rem;
}
.footer--content--para {
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 0.5rem;
}
.footer--content--para--span a {
  color: #fff;
  transition: 2s;
}
.footer--content--para--span a:hover {
  text-shadow: 2px 2px 5px #000;
}
.footer--content .social--contact {
  margin: 1rem auto;
  text-align: center;
}
.footer--content .social--contact a {
  color: rgba(0, 0, 0, 0.5);
}
.footer--content .social--contact i {
  padding: 0 0.5rem;
  font-size: 1.8rem;
  transition: 2s;
}
.footer--content .social--contact i:hover {
  color: #fff;
  text-shadow: 2px 2px 5px #000;
}
.footer--content .rights {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
}

/***** End footer *****/
.btn, .btn-outline, .btn-primary {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn-primary {
  background-color: rgb(27, 240, 169);
  color: #fff;
  border: 1px solid rgb(27, 240, 169);
}
.btn-primary:hover {
  background-color: rgb(126, 250, 209);
}
.btn-outline {
  background-color: transparent;
  border: 1px solid rgb(245, 180, 31);
}
.btn-outline:hover {
  background-color: rgb(247, 206, 110);
}

@keyframes colors {
  0% {
    color: rgb(27, 240, 169);
  }
  50% {
    color: rgb(245, 180, 31);
  }
  100% {
    color: rgb(14, 137, 96);
  }
}
@keyframes box {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes border {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.box1 {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 3px solid green;
  border-radius: 5px;
  top: 20%;
  left: 5%;
  z-index: -1;
  animation: box linear 5s infinite;
}
@media only screen and (max-width: 900px) {
  .box1 {
    display: none;
  }
}

.box2 {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid blue;
  border-radius: 5px;
  top: 80%;
  left: 30%;
  z-index: -1;
  animation: box linear 5s infinite;
}
@media only screen and (max-width: 900px) {
  .box2 {
    display: none;
  }
}

.box3 {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 3px solid orange;
  border-radius: 5px;
  top: 60%;
  left: 90%;
  z-index: -1;
  animation: box linear 5s infinite;
}
@media only screen and (max-width: 900px) {
  .box3 {
    display: none;
  }
}

.heart1 {
  position: absolute;
  font-size: 1rem;
  color: red;
  top: 90%;
  left: 20%;
  z-index: -1;
  animation: box linear 5s infinite;
}
@media only screen and (max-width: 900px) {
  .heart1 {
    display: none;
  }
}

.heart2 {
  position: absolute;
  font-size: 2rem;
  color: purple;
  top: 20%;
  left: 80%;
  z-index: -1;
  animation: box linear 5s infinite;
}
@media only screen and (max-width: 900px) {
  .heart2 {
    display: none;
  }
}

.heart3 {
  position: absolute;
  font-size: 1.2rem;
  color: brown;
  top: 90%;
  right: 5%;
  z-index: -1;
  animation: box linear 5s infinite;
}
@media only screen and (max-width: 900px) {
  .heart3 {
    display: none;
  }
}

.heart4 {
  position: absolute;
  font-size: 2rem;
  color: indianred;
  top: 25%;
  left: 30%;
  z-index: -1;
  animation: box linear 5s infinite;
}
@media only screen and (max-width: 900px) {
  .heart4 {
    display: none;
  }
}

.plus1 {
  position: absolute;
  font-size: 3rem;
  color: indianred;
  top: 50%;
  left: 3%;
  z-index: -1;
  animation: box linear 5s infinite;
}
@media only screen and (max-width: 900px) {
  .plus1 {
    display: none;
  }
}

.plus2 {
  position: absolute;
  font-size: 2.5rem;
  color: purple;
  top: 10%;
  left: 45%;
  z-index: -1;
  animation: box linear 5s infinite;
}
@media only screen and (max-width: 900px) {
  .plus2 {
    display: none;
  }
}

.plus3 {
  position: absolute;
  font-size: 1.5rem;
  color: green;
  top: 90%;
  left: 45%;
  z-index: -1;
  animation: box linear 5s infinite;
}
@media only screen and (max-width: 900px) {
  .plus3 {
    display: none;
  }
}

.plus4 {
  position: absolute;
  font-size: 2rem;
  color: magenta;
  top: 30%;
  right: 3%;
  z-index: -1;
  animation: box linear 5s infinite;
}
@media only screen and (max-width: 900px) {
  .plus4 {
    display: none;
  }
}

.plus5 {
  position: absolute;
  font-size: 3rem;
  color: magenta;
  top: 40%;
  left: 20%;
  z-index: -1;
  animation: box linear 5s infinite;
}
@media only screen and (max-width: 900px) {
  .plus5 {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
