@use "../abstract/function" as func;
@use "../utilities/anime";

@use "../abstract/mixins" as mix;

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;

    @include mix.responsive(xs) {
            margin-top:1rem;
        }

    &--logo>a {
        font-size: 1.5rem;
        font-weight: bolder;
        //color: func.theme-color("primary");
        animation: colors 10s infinite;

        &:hover {
            color: func.theme-color("primary-hover");
            transition: 1000ms;
        }
    }
    .burger-icon {
        @include mix.responsive(xs) {
                font-size: 2rem;
            }

                        @include mix.responsive(lg) {
                            display: none;
                        }
    }
    &--menu {
        display: flex;
        flex-wrap: wrap;

        @include mix.responsive(xs) {
            display: none;
        }

        .active {
            color: func.theme-color("active");
            
        }

        &--list {
                margin-left: 1.5rem;
                padding: 0.5rem;
                color: func.theme-color("primary");
                border: none;
                outline: none;
        }
        &--list:hover {
                background-color: func.theme-color("primary-hover");
                color: func.theme-color("light");
                transition: 1000ms;
        }
    }
}