@keyframes colors {
  0% {
    color: rgb(27, 240, 169);
  }
  50% {
    color: rgb(245, 180, 31);
  }
  100% {
    color: rgb(14, 137, 96);
  }
}

@keyframes box {

    0% {
        transform:rotate(0deg);
      }
    
    100% {
      transform: rotate(360deg);
    }

  
}

@keyframes border {

  0% {
    transform: rotate(0deg);
    border-width: 4px;
  }

  100% {
    transform: rotate(360deg);
    border-width: 5px;
  }


}
